<ion-header>

  <ion-navbar>
    <ion-title>ЗАЛІК - {{timeString}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>ПИТАННЯ №{{num+1}}</h1>
  <br>
  <h3 text-center>
    {{quests['level'+type][type==1?num:num-quests.level1.length].question}}
  </h3>
  <br>
  <div *ngIf="type==2">
    <table>
      <tr *ngFor="let x of quests.level2[num-quests.level1.length].options">
        <td>{{x.name}}</td>
        <td>{{x.value}}</td>
      </tr>
    </table>
  </div>
</ion-content>



<ion-footer no-shadow>

  <ion-row *ngIf="type==1" justify-content-center>
    <ion-col col col-12 text-center *ngFor="let x of quests.level1[num].answers; let i = index">
      <button class="col col-center" ion-button block full (click)="next(x.text, i)" [color]="x.color">{{x.text}}</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="type==2" justify-content-center align-items-center padding>
    <ion-item col-9 style="padding-left: 0;">
      <ion-input placeholder="Відповідь" [(ngModel)]="answer" type="number"></ion-input>
    </ion-item>
    <ion-col col-3 style="padding-left: 16px;">
      <button ion-button block color="secondary" (click)="next()">ОК</button>
    </ion-col>
  </ion-row>

</ion-footer>
